.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(58, 151, 207);;
    color:rgb(58, 151, 207);
    box-shadow: 9999px 0 0 -5px;
    animation: dot-pulse 1.5s infinite linear;
    animation-delay: 0.25s;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .dot-pulse::before, .dot-pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(58, 151, 207);;
    color: rgb(58, 151, 207);;
  }
  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px;
    animation: dot-pulse-before 1.5s infinite linear;
    animation-delay: 0s;
  }
  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px;
    animation: dot-pulse-after 1.5s infinite linear;
    animation-delay: 0.5s;
  }
  
  @keyframes dot-pulse-before {
    0% {
      box-shadow: 9984px 0 0 -5px;
    }
    30% {
      box-shadow: 9984px 0 0 2px;
    }
    60%, 100% {
      box-shadow: 9984px 0 0 -5px;
    }
  }
  @keyframes dot-pulse {
    0% {
      box-shadow: 9999px 0 0 -5px;
    }
    30% {
      box-shadow: 9999px 0 0 2px;
    }
    60%, 100% {
      box-shadow: 9999px 0 0 -5px;
    }
  }
  @keyframes dot-pulse-after {
    0% {
      box-shadow: 10014px 0 0 -5px;
    }
    30% {
      box-shadow: 10014px 0 0 2px;
    }
    60%, 100% {
      box-shadow: 10014px 0 0 -5px;
    }
  }

  .user-message{
    border-radius: 20px 0px 20px 20px;
    background-color: rgb(58, 151, 207);
    padding: 10px 5px 10px 15px;
    color: white;
    width: fit-content;
    max-width: 40%;
  }

  .bot-message{
    border-radius: 0px 25px 25px 25px;
    background-color: rgb(232, 228, 228);
    padding: 15px 5px 15px 15px;
    width: 45%;
  }

  .css-13cymwt-control, .css-t3ipsp-control{
    width: 200px;
  }

  .grid-container{
    padding: 10px 20px 20px 20px;
    align-items: flex-end;
  }

  .background-gradient{
    background-image: linear-gradient(to bottom right, #2193b0 , #6dd5ed);
  }

  .onboarding-form{
    background-color: white;
    height: 80vh;
    width: 45vw;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .main-div{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    align-items: stretch;
  }

  .sign-in{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }